# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[4]

'n'

In [6]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [7]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [8]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [10]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [11]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
tmp = a
a = b
b = tmp

In [13]:
a, b = 1, 2

In [14]:
a

1

In [15]:
b

2

In [16]:
b, a = a, b

In [17]:
a

2

In [18]:
b

1

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [21]:
a, b

(1, 2)

In [22]:
rest

[3, 4, 5]

In [24]:
a, b, *_ = values
_

[3, 4, 5]

#### Tuple methods

In [26]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(3)

1

### List

In [27]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [28]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [29]:
gen = range(10)
gen

range(0, 10)

In [30]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [31]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [32]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [33]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [34]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [35]:
'dwarf' in b_list

True

In [36]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [37]:
[4, None, 'foo'] + [7, 8, (2, 3), 4]

[4, None, 'foo', 7, 8, (2, 3), 4]

In [38]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [39]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [40]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [41]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
bisect.insort(c, 6)
c

4
6

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [42]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[-2:]

[0, 1]

In [43]:
seq[-2:-1] = [6, 3]
seq

[7, 2, 3, 7, 5, 6, 6, 3, 1]

In [44]:
seq[:5]

[7, 2, 3, 7, 5]

In [45]:
seq[3:]

[7, 5, 6, 6, 3, 1]

In [46]:
seq[-4:]
seq[-6:-2]

[7, 5, 6, 6]

In [47]:
seq[::1]

[7, 2, 3, 7, 5, 6, 6, 3, 1]

In [48]:
seq[::-1]

[1, 3, 6, 6, 5, 7, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [49]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

In [50]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [51]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three', 'four']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [52]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [53]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [54]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [55]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [56]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [57]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [58]:
'b' in d1

True

In [59]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [60]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [61]:
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [62]:
list(d1.keys())

['a', 'b', 7]

In [63]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [64]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [65]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [66]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### Valid dict key types

In [67]:
hash('string')

-8291570735960369407

In [68]:
hash((1, 2, (2, 3)))

1097636502276347782

In [70]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [71]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

In [73]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [74]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [76]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [77]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
a.intersection(b)

{3, 4, 5}

In [80]:
a & b

{3, 4, 5}

In [82]:
c = a.copy()
c |= b
c = c | b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [84]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [85]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [86]:
a_set.issuperset({1, 2, 3})

True

In [88]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

result = []
for val in collection:
    if

In [90]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [92]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [94]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [96]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [97]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [98]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [99]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [100]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [102]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [103]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [104]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

45.0

### Namespaces, Scope, and Local Functions

In [105]:
def func():
    a = []
    for i in range(5):
        a.append(i)
a

{1, 2, 3, 4, 5}

In [107]:
a = []
def func():
    for i in range(5):
        a.append(i)
a

[]

In [109]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values

In [111]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [112]:
return_value = f()

In [113]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [115]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [116]:
### Functions Are Objects

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [118]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [119]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [120]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [122]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [123]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [124]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [125]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [126]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [127]:
def add_numbers(x, y):
    return x + y

In [128]:
add_five = lambda y: add_numbers(5, y)

In [129]:
from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [130]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [131]:
dict_iterator = iter(some_dict)
dict_iterator

In [132]:
list(dict_iterator)

['a', 'b', 'c']

In [133]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [134]:
gen = squares()
gen

In [135]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [136]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [137]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [ ]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

### Errors and Exception Handling

In [138]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [139]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [140]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [142]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

## Files and the Operating System

In [143]:
path = 'segismundo.txt'
f = open(path)

In [144]:
lines = [x.rstrip() for x in open(path)]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [145]:
f.close()

In [146]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [148]:
f = open(path)
f.read(10)

'Sueña el r'

In [150]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [151]:
f.tell()

11

In [152]:
f2.tell()

10

In [153]:
import sys
sys.getdefaultencoding()

'utf-8'

In [154]:
f.seek(3)

3

In [155]:
f.read(1)

'ñ'

In [156]:
f.close()
f2.close()

In [157]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [158]:
import os
os.remove('tmp.txt')